.singularity {
  display: flex;
  padding-bottom: 93px;
  padding-top: 93px;

  &__item {
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__background {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: $back-color;
  }

  &__titel {
    margin: 0;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    margin: 10px 0 0 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
